@font-face{
	font-family: Jura;
	src: url(fonts/Jura-Medium.ttf);
	font-weight: normal;
}

*{
	background: #222;
	text-align: center;
	font-family: 'Jura';
	font-size: 22px;
	font-weight: bold;
	color :#eee;
}

.main_btn{
	margin: 4px;
	padding: 10px;
	width: 100px;
	text-align: center;
	color: #ddd;
	background: #444;
	border-radius: 4px;
	outline: none;
	border: 2px solid grey;
}

.main_btn:active{
	box-shadow: inset 0 0 5px 4px crimson; 	
	text-shadow: 0 0 1px crimson; 
	
}